body{
    font-family: 'Courier New', Courier, monospace;
}
.item{
    position: relative;
    background: rgb(184, 214, 231);
    border: solid 2px rgb(23, 120, 200);
    padding: 2;
    margin: 3;
    text-align: center;
    width: 90%;
    cursor: pointer;
    height: 18pt;
}
.backBtn{
    width: 100%;
}
.detailText{
    vertical-align: top;
    float: right;
    width: 79%;
}
.planetImg{
    float: left;
    width: 20%;
}
.uipanel{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 15;
    background: rgb(178, 190, 178);;
    border: solid 2px rgb(23, 120, 200);
    width: auto;
    height: auto;
}